


//- T H I N G S 

section#things.things
  .fence
  .content
    h2.color-red.border-light THINGS

    section.left
      h3 Recent Blog Posts
      for post in posts
        a(href="#{post.link}")
          .blog-listing
            .blog-title #{post.title}<br>
            .blog-subtitle #{post.subtitle}
            .blog-date 
              .month #{post.month}
              .day #{post.day}
      
      hr        
      h3 Recent Work
        p
          a(href="https://github.com/iAmNathanJ/iAmNathanJ") This Very Site (<small>GitHub Source)</small><br>
          a(href="http://naturespointe.com") Nature's Pointe Cabins<br>
          a(href="#") Norris Lake Adventures <small>(Coming Soon)</small>
      
      hr      
      h3 Codepen
        p
          a(href="http://codepen.io/iAmNathanJ/pen/pvLQJY") CSS Prallax<br>
          a(href="http://codepen.io/iAmNathanJ/pen/pvprQZ") Flex Form<br>
          a(href="http://codepen.io/iAmNathanJ/pen/yyvmOM") B. Social<br>

    section.right
      h3 Resource Things<br><small>(Smart people and places to learn really important stuff)</small>
      p
        | <a href="https://github.com/getify/You-Dont-Know-JS">Kyle Simpson</a><br>
        | <a href="http://davidwalsh.name/">David Walsh</a><br>
        | <a href="https://github.com/ericelliott/essential-javascript-links">Eric Elliot</a><br>
        | <a href="http://addyosmani.com/blog/">Addy Osmani</a><br>
        | <a href="http://raganwald.com/">Reginald Braithwaite</a><br>
        | <a href="https://www.youtube.com/user/learncodeacademy">LearnCode</a><br>
        | <a href="https://www.youtube.com/user/DevTipsForDesigners">Dev Tips</a><br>
        | <a href="http://jankfree.org/">Jank Free</a><br>
        | <a href="http://nodeschool.io/">Node School</a><br>
        | <a href="https://css-tricks.com/">CSS Tricks</a><br>
